/*************************
    Tailwind setup
**************************/

@import "tailwindcss";

@theme {
  --breakpoint-400px: 400px;
  --breakpoint-500px: 500px;
  --breakpoint-600px: 600px;
  --breakpoint-700px: 700px;
  --breakpoint-800px: 800px;
  --breakpoint-900px: 900px;
  --breakpoint-1000px: 1000px;
  --breakpoint-1100px: 1100px;
  --breakpoint-1200px: 1200px;
  --breakpoint-1300px: 1300px;
  --breakpoint-1400px: 1400px;
  --breakpoint-1500px: 1500px;
  --breakpoint-1600px: 1600px;
  --breakpoint-1700px: 1700px;
  --breakpoint-1800px: 1800px;
  --breakpoint-1900px: 1900px;
}

/*************************
    Custom styles
**************************/

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-cover bg-no-repeat bg-right-top;
  background-image: url('../img/bg-desktop.webp');
}

@media only screen and (max-width: 1100px) {
  body {
    @apply bg-cover bg-no-repeat bg-center;
    background-image: url('../img/bg-mobile.webp');
  }
}

.wrapper {
  @apply w-full 1100px:w-[90%] max-w-[1400px] mx-auto px-[12px];
}

.main-button {
  background: linear-gradient(90deg, #E74040 0%, #A31A1A 52.88%, #E74040 100%);
  @apply font-semibold flex items-center justify-center relative overflow-hidden rounded-full h-[70px] 800px:h-[90px] 1200px:h-[100px] text-[#fff] text-[28px] 800px:text-[36px] 1100px:text-[40px] cursor-pointer;
}

.tg-button {
  background: #0088cc;
  @apply font-semibold flex items-center justify-center relative overflow-hidden rounded-full h-[70px] 800px:h-[80px] 1200px:h-[90px] text-[#fff] text-[28px] 800px:text-[36px] 1100px:text-[40px] cursor-pointer;
}

.submit-button {
  cursor: pointer;
  background: linear-gradient(90deg, #E74040 0%, #A31A1A 52.88%, #E74040 100%);
  @apply font-semibold relative w-full overflow-hidden rounded-full h-[60px] 800px:h-[70px] 1200px:h-[70px] text-[#fff] text-[24px] 800px:text-[32px] 1100px:text-[36px] cursor-pointer;
}

.main-button::before, .submit-button::before, .tg-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
  animation: shine 2s infinite;
}

.custom-shadow {
  box-shadow: 0px 0px 30px 0px #0000001F;
}

.marquee-shadow {
  box-shadow: 0px 4px 30px 0px #0000001F;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}

.gift-container {
  position: relative;
  cursor: pointer;
  animation: shake 0.6s ease-in-out infinite;
}

.gift {
  transition: transform 0.3s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

/* Running text */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: scroll 30s linear infinite;
}
